<!DOCTYPE html>
<html>
  <head>
    <title>PriceCompare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-content" style="height: 100vh;overflow:scroll;">
      <%= render 'common/header' %>
      <%= yield %>
    </div>
  </body>
</html>
